@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/*--------------------------------------- Reset ---*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*--------------------------------------- General Styles ---*/

:root {
  font-size: 62.5%;

  /*--------------------------------------- website Theme ---*/
  --color-primary: hsl(0, 0%, 50%);

  --color-secondary: #B0884B;

  --color-secondary-m: #B1895D;
  --color-secondary-m-2: #001015;

  --color-tertiary: rgba(255, 255, 255, 0.1);
  --color-tertiary-m: #D9D9D9;
  --color-quaternary: hsl(0, 0%, 100%);

  --scrollbarBG: #191715;
  --thumbBG: rgba(255 255 255/ 30%);

  /*----------*----------*----------* Padding */
  /*
        --------------------- Sizing Nature
        d     = dynamic
        st    = static

        --------------------- Sizing

        l     = large
        m     = medium
        s     = small
        xs    = extra small
        c     = customized


        --------------------- Orientation
        v  = vertical   (top & bottom)
        h  = horizontal (right & left)
  */

  /* Dynamic */
  --padding-d-l-v: calc(2rem + 12vh);
  --padding-d-l-h: calc(2rem + 12vw);

  --padding-d-mc-v: calc(1rem + 4vh);
  --padding-d-mc-h: calc(1rem + 4vw);

  --padding-d-m-v: calc(1rem + 2vh);
  --padding-d-m-h: calc(1rem + 2vw);

  --padding-d-s-h: calc(1rem + 1vw);
  --padding-d-s-v: calc(1rem + 1vh);

  /* Static */
  --padding-st-l-h: 3rem;
  --padding-st-l-v: 2rem;

  --padding-st-m-h: 2.5rem;
  --padding-st-m-v: 1.5rem;

  --padding-st-s-h: 2rem;
  --padding-st-s-v: 1rem;

  /*----------*----------*----------* Typography */

  /*
      --------------------- Sizing Nature
      d     = dynamic
      st    = static

      --------------------- Sizing
      xl    = extra large
      l     = large
      m     = medium
      s     = small
      xs    = extra small
      c     = customized

      --------------------- Family
      font-family: 'Oswald', sans-serif;
      font-family: 'Plus Jakarta Sans', sans-serif;
*/
  /* Dynamic */
  /*--font-size-d-lc: calc(3rem + 3.5vw);*/
  /*--font-size-d-l: calc(2rem + 3vw);*/
  /*--font-size-d-mc: calc(2rem + 2.5vw);*/
  /*--font-size-d-m: calc(1rem + 2vw);*/
  /*--font-size-d-sc: calc(1rem + 1.5vw);*/
  /*--font-size-d-s: calc(1rem + 1vw);*/

  /* Static */
  /*--font-size-st-xl: 4rem;*/
  /*--font-size-st-lc: 3.5rem;*/
  --font-size-st-l: 1.8rem;
  --font-size-st-mc: 2.4rem;
  --font-size-st-m: 2rem;
  --font-size-st-sc: 1.6rem;
  --font-size-st-s: 1rem;

  /* Family */
  /*--font-family-title: "Oswald", sans-serif;*/
  --font-family: "Josefin Sans", sans-serif;
}

/*----------*----------*----------* Scroll Bar */

body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}


body {
  background-image: url("./assets/images/bg-img.png"), linear-gradient(#191715 0%, rgba(25, 23, 21, 0) 100%);
  background-size: cover;
  font-family: var(--font-family);
  line-height: 1.6;

  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

a {
  text-decoration: none;
  border-radius: 1rem;
}

li {
  list-style: none;
}

/*----------*----------*----------* Main Container */
.main__container {
  display: grid;
  grid-template-columns: calc(15rem + 8vw) 1fr calc(20rem + 10vw);
  height: 100vh;
  padding: var(--padding-st-s-h) 0;
  color: var(--color-primary);
  column-gap: 3rem;
}

/*----------*----------*----------* Sidebar Container */

.main__container--sidebar {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 10rem max-content;
  /*row-gap: 4rem;*/
}

.main__container--sidebar__logo {
  height: 6rem;
  grid-column: 2 / 5;
  grid-row: 1 / 2;
  /*place-self: center;*/
  justify-self: start;
}

.main__container--sidebar__logo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.main__container--sidebar__content {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
}

.main__container--sidebar__content > div {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
  font-size: var(--font-size-st-l);
  height: 6.5rem;
  padding-left: var(--padding-st-l-h);
  cursor: pointer;
}

.main__container--sidebar__content > div > li {
  font-weight: 400;
}

.active__content {
  border-left: 5px solid var(--color-secondary);
  color: var(--color-secondary);
  background: linear-gradient(90deg, rgba(175, 135, 74, 0.58) 0%, rgba(175, 135, 74, 0) 100%);
}


/*----------*----------*----------* Chat Container */
.main__container--chat-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: max-content 1fr max-content;
  row-gap: 4rem;
}

.main__container--chat-container__login {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.6rem;
}

.main__container--chat-container__login--content {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.main__container--chat-container__login--content__logo {
  color: var(--color-secondary);
  font-size: var(--font-size-st-mc);
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  background-color: var(--color-tertiary);

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.main__container--chat-container__login--content__logo::after,
.chat__active::after {
  position: absolute;
  content: "";
  width: 1.2rem;
  height: 1.2rem;
  bottom: 0;
  right: 0;
  background-color: #66E564;
  border-radius: 50%;
  border: 2px solid #181614;
}

.main__container--chat-container__login--content__description {
  display: flex;
  flex-direction: column;
  gap: 0;
  line-height: 1;
}

.main__container--chat-container__login--content__description h3 {
  color: var(--color-secondary);
  font-size: var(--font-size-st-mc);
  font-weight: 400;
}

.main__container--chat-container__login--content__description p {
  font-size: var(--font-size-st-sc);
  font-weight: 400;
}

.main__container--chat-container__logo {
  color: var(--color-quaternary);
  font-size: var(--font-size-st-sc);
}

.main__container--chat-container__content {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.main__container--chat-container__content--search-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  column-gap: .8rem;
}

.main__container--chat-container__content--search-container__logo {
  font-size: var(--font-size-st-m);
  color: var(--color-tertiary-m);
  padding: var(--padding-st-s-v);
  background-color: var(--color-tertiary);
  flex-grow: 0;

  display: flex;
  border-radius: .4rem;
  border: 1px solid #FFFFFF1A;
}

.main__container--chat-container__content--search-container fieldset {
  flex-basis: 70%;
  outline: none;
  border: 1px solid #FFFFFF1A;
  border-radius: .4rem;
}

.main__container--chat-container__content--search-container fieldset input {
  height: 4rem;
  background-color: var(--color-tertiary);
  color: var(--color-primary);
  font-size: var(--font-size-st-sc);
  font-weight: 400;
  width: 100%;
  border: none;
  outline: none;
}

.main__container--chat-container__content--search-container fieldset input::placeholder {
  text-align: center;
}


.main__container--chat-container__content--chats {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.main__container--chat-container__content--chats__chat {
  display: flex;
  align-items: center;
  gap: 1rem;

  justify-content: center;
}

.main__container--chat-container__content--chats__chat--img {
  height: 4rem;
  width: 4rem;
  flex-grow: 0;
}

.main__container--chat-container__content--chats__chat--img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  padding: .4rem;
}

.chat__active {
  position: relative;
}

.chat__active img {
  border: 1px solid var(--color-secondary-m);
}

.main__container--chat-container__content--chats__chat--desc {
  font-size: var(--font-size-st-l);
  font-weight: 400;

  flex-basis: 70%;
}

.main__container--chat-container__btn {
  grid-column: 1 / -1;
  grid-row: 3 / 4;
  display: flex;
  justify-content: center;
}

.main__container--chat-container__btn a {
  color: var(--color-quaternary);
  font-size: var(--font-size-st-sc);
  background-color: var(--color-secondary);
  padding: 1rem;
  border-radius: 0;
  flex-basis: 80%;
  text-align: center;
  line-height: 28px;
}


/*----------*----------*----------* Main Container */

.main__container--content-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, max-content);
  row-gap: 5rem;
}

.main__container--content-container__nav-container {
  grid-column: 1 / -1;
  grid-row: 1 / 2;

  display: flex;
  align-items: center;
  justify-content: center;
}

.main__container--content-container__nav-container fieldset {
  flex-basis: 50%;
  outline: none;
  border: 1px solid #FFFFFF1A;
  border-radius: .4rem;
}

.main__container--content-container__nav-container fieldset input {
  height: 4rem;
  background-color: var(--color-tertiary);
  color: var(--color-primary);
  font-size: var(--font-size-st-sc);
  font-weight: 400;
  width: 100%;
  border: none;
  outline: none;
}

.main__container--content-container__nav-container fieldset input::placeholder {
  text-align: center;
}


.main__container--content-container__banners-container {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  display: flex;
  justify-content: space-between;
}

.main__container--content-container__banner-container--banner {
  height: 44vh;
  width: 30vw;
  display: flex;
  align-items: center;

  position: relative;
}

.active__banner {
  border: 1px solid var(--color-secondary-m)
}

.main__container--content-container__banner-container--banner__img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 100%;
  z-index: -1;
}

.main__container--content-container__banner-container--banner__img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.main__container--content-container__banner-container--banner__content {
  flex-basis: 70%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4rem;

  height: 100%;
  background: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, #000000 100%);
  padding-left: 4rem;
}

.main__container--content-container__banner-container--banner__content--img {
  height: 8rem;
  width: 20.8rem;
}

.main__container--content-container__banner-container--banner__content--img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.main__container--content-container__banner-container--banner__content--para {
  font-size: var(--font-size-st-l);
  font-weight: 400;
  color: var(--color-quaternary);
  line-height: 1.2;
}

.main__container--content-container__banner-container--banner__content--para span {
  display: block;
}

.main__container--content-container__banner-container--banner__content-btn {
  font-size: var(--font-size-st-sc);
  font-weight: 600;
  letter-spacing: 0.1em;
  padding: .8rem 3.6rem;
  color: var(--color-secondary-m-2);
  border-radius: 0;
}

.play__btn {
  background-color: var(--color-quaternary);}

.explore__btn {
  background-color: var(--color-secondary-m);
}


.main__container--content-container__events {
  grid-column: 1 / -1;
  grid-row: 3 / 4;

  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.main__container--content-container__events--title {
  font-size: var(--font-size-st-mc);
  font-weight: 400;
  color: var(--color-quaternary);
  padding-left: 3rem;
}

.main__container--content-container__events--container {
  display: flex;
  justify-content: space-between;
  column-gap: 1rem;
}

.main__container--content-container__events--container__event {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.main__container--content-container__events--container__event--img {
  height: 22.5rem;
  max-width: 35rem;
}

.main__container--content-container__events--container__event--img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.main__container--content-container__events--container__event--title {
  display: flex;
  flex-direction: column;
  padding-left: 1.5rem;
}

.main__container--content-container__events--container__event--title h3 {
  font-size: var(--font-size-st-mc);
  font-weight: 400;
  color: var(--color-secondary-m);
}

.main__container--content-container__events--container__event--title p {
  font-size: var(--font-size-st-l);
  font-weight: 400;
  color: var(--color-quaternary);
}


/*----------*----------*----------**----------*----------*----------* media queries */



@media screen and (max-width: 1860px) {
  .main__container {
    grid-template-columns: calc(12rem + 8vw) 1fr calc(12rem + 10vw);
    column-gap: 3rem;
  }
}

@media screen and (max-width: 1770px) {
  .main__container {
    grid-template-columns: calc(10rem + 8vw) 1fr calc(10rem + 10vw);
    column-gap: 2rem;
  }

  .main__container--content-container__banner-container--banner {
    width: 32vw;
  }
}



@media screen and (max-width: 1440px) {
  .main__container {
    grid-template-columns: calc(10rem) 1fr calc(10rem);
    column-gap: 1rem;
  }

  .main__container--sidebar__logo {
    grid-column: 2 / -1;
  }

  .main__container--sidebar__content div li {
    display: none;
  }

  .main__container--content-container__banner-container--banner {
    height: 50vh;
    width: 40vw;
  }

  .main__container--chat-container__login--content__description {
    display: none;
  }

  .main__container--chat-container__content--search-container fieldset {
    display: none;
  }

  .main__container--chat-container__content--chats__chat--desc {
    display: none;
  }

  .main__container--chat-container__btn a {
    display: none;
  }
}
